@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create a new meeting plan by clicking on <a asp-controller="Planners" asp-action="Index">Planner List</a></p>
    <img class="welcome-upr-image" src="~/imgs/last_supper_simon_dewey.jpeg" />
    
    <img class="welcome-lwr-image" src="~/imgs/church-logo-footer-en_US.jpeg"/>
</div>
