@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create a new meeting plan by clicking on <a asp-controller="Planners" asp-action="Index">Planner List</a></p>
    <img src="~/imgs/sacramentImg.jpeg"/>
</div>
