@model SacramentMeetingPlanner.Models.SchedulePlanner

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SchedulePlanner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ConductingLeader" class="control-label"></label>
                <input asp-for="ConductingLeader" class="form-control" />
                <span asp-validation-for="ConductingLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningSong" class="control-label"></label>
                <input asp-for="OpeningSong" class="form-control" />
                <span asp-validation-for="OpeningSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label"></label>
                <input asp-for="SacramentHymn" class="form-control" />
                <span asp-validation-for="SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymnTitle" class="control-label"></label>
                <input asp-for="SacramentHymnTitle" class="form-control" />
                <span asp-validation-for="SacramentHymnTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateNumber" class="control-label"></label>
                <input asp-for="IntermediateNumber" class="form-control" />
                <span asp-validation-for="IntermediateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateNumberTitle" class="control-label"></label>
                <input asp-for="IntermediateNumberTitle" class="form-control" />
                <span asp-validation-for="IntermediateNumberTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label"></label>
                <input asp-for="OpeningPrayer" class="form-control" />
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label"></label>
                <input asp-for="ClosingHymn" class="form-control" />
                <span asp-validation-for="ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymnTitle" class="control-label"></label>
                <input asp-for="ClosingHymnTitle" class="form-control" />
                <span asp-validation-for="ClosingHymnTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label>
                <input asp-for="ClosingPrayer" class="form-control" />
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSpeakers" class="control-label"></label>
                <input asp-for="NumberOfSpeakers" class="form-control" />
                <span asp-validation-for="NumberOfSpeakers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerSubjects" class="control-label"></label>
                <input asp-for="SpeakerSubjects" class="form-control" />
                <span asp-validation-for="SpeakerSubjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
