html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imgPrint {
    display:none;
}

.welcome-lwr-image {
    position: absolute;
    left: 100px;
    bottom: 50px;
    height: 200px;
    width: auto;
}

.welcome-upr-image {
    height: 600px;
    width: auto;
}


@media print {
    .imgPrint {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 30%;
        width: 30%;
    }
    #img2 {
        margin-top: 0px;
        height: 140px;
        width: auto;
    }
        
    h3 {
        text-align: center;
    }
   
    .row {
        display: grid;
        grid-template-columns: max-content auto;
    }

    dt {
        grid-column-start: 1;
    }
        dt::after {
            content: ":";
            padding-right: 20em;
        }

    dd {
        
        grid-column-start: 2;
     
    }

    dl {
        clear: left;
    }
    
    .no-printme {
        display: none;
    }

    
}